@charset "UTF-8";
.header {
  display: flex;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: #fff;
  background-image: url(../img/thumb.png);
  background-position: 80px 120px;
  background-size: cover;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.header-wrap {
  padding: 5px;
}
.header__logo {
  display: inline-block;
  position: relative;
  color: #fff;
}
.header__search {
  display: inline-block;
  position: relative;
}
.header__btn {
  position: absolute;
  right: 15px;
  padding: 2px;
  border: 1px solid #888;
  background: #fff;
  cursor: pointer;
}
.header__menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 40px;
  right: 0;
  left: 100vw;
  overflow: scroll;
  max-height: calc(100vh - 40px);
  transition: all 300ms;
  vertical-align: center;
}
.header__menu.open {
  left: 0;
  transition: all 300ms;
}
.header__menu .menu {
  transition: all 300ms;
}
.header__menu .menu p {
  display: inline-block;
  width: 90%;
  height: 34px;
}
.header__menu .menu li {
  line-height: 39px;
  border: 1px solid #777;
}
.header__menu .menu li:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  content: " ";
}
.header__menu .menu-sub {
  z-index: 3;
  background: #fff;
  /*
  자바스크립트로 처리해서 필요 없어진 부분
  p.open {
    + ul {
      height: auto;
      transition: all 300ms;
    }
    + .filter {
      height: 39px;
      transition: all 300ms;
    }
  }
  */
}
.header__menu .menu-sub > ul {
  height: 0px;
  overflow: hidden;
  transition: all 300ms;
}
.header__menu .menu-sub > ul li {
  padding-left: 8px;
  background: #77f;
}
.header__menu .menu-sub-sub ul {
  height: 0px;
  overflow: hidden;
  transition: all 300ms;
}
.header__menu .menu-sub-sub ul li {
  padding-left: 8px;
  background: #55a;
}
.header__menu .menu-sub-sub p.open + ul {
  height: auto;
  transition: all 300ms;
}
.header__menu .menu-sub .filter {
  display: flex;
  flex-wrap: wrap;
  height: 0;
}

.main {
  position: relative;
  top: 40px;
}

.item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  border: 1px solid #000;
  vertical-align: center;
}
.item span {
  line-height: 24px;
}
.item .name {
  width: 60%;
  padding: auto;
  font-weight: 600;
  color: #151533;
  background: #99f;
}
.item .grade {
  width: 40%;
  padding: auto;
  background: #fff;
}
.item .genre {
  width: 100%;
  padding: auto;
  background: #c4d4ff;
}

.itemTitle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  position: relative;
  text-align: center;
  border: 1px solid #000;
  vertical-align: center;
}
.itemTitle .name {
  width: 20%;
  padding: auto;
  background: #99f;
}
.itemTitle .genre {
  width: 50%;
  padding: auto;
  background: #fff;
}
.itemTitle .grade {
  width: 30%;
  padding: auto;
  background: #99f;
}