.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  &-wrap {
    padding: 5px;
  }
  &__logo {
    position: relative;
    display: inline-block;
  }
  &__search {
    position: relative;
    display: inline-block;
  }
  &__btn {
    position: absolute;
    right: 15px;
    border: 1px solid #888;
    cursor: pointer;
  }
  &__menu {
    position: absolute;
    top: 40px;
    right: 0;
    width: 100vw;
    height: 100vh;
    vertical-align: center;
    left: 100vw;
    transition: all 300ms;

    &.open {
      left: 0;
      transition: all 300ms;
    }
    .menu {
      transition: all 300ms;
      p {
        display: inline-block;
        width: 90%;
        height: 34px;
      }
      li {
        border: 1px solid #777;
        line-height: 39px;
        &:before {
          content: " ";
          display: inline-block;
          width: 10px;
          height: 10px;

          border: 1px solid #000;
        }
      }
      &-sub {
        z-index: 3;
        background: #fff;
        > ul {
          height: 0px;
          overflow: hidden;
          transition: all 300ms;
          li {
            background: #77f;
            padding-left: 8px;
          }
        }
        /*
        자바스크립트로 처리해서 필요 없어진 부분
        p.open {
          + ul {
            height: auto;
            transition: all 300ms;
          }
          + .filter {
            height: 39px;
            transition: all 300ms;
          }
        }
        */
        &-sub {
          ul {
            height: 0px;
            overflow: hidden;
            transition: all 300ms;
            li {
              background: #55a;
              padding-left: 8px;
            }
          }
          p.open {
            + ul {
              height: auto;
              transition: all 300ms;
            }
          }
        }
        .filter {
          display: flex;
          flex-wrap: wrap;
          height: 0;
        }
      }
    }
  }
}
.main {
  position: relative;
  top: 40px;
}
.item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  width: 100%;
  height: auto;
  text-align: center;
  vertical-align: center;
  align-items: center;
  span {
    line-height: 24px;
  }
  .name {
    width: 60%;
    font-weight: 600;
    padding: auto;
    color: #151533;
    background: #99f;
  }
  .grade {
    width: 40%;
    padding: auto;
    background: #fff;
  }
  .genre {
    width: 100%;
    padding: auto;
    background: #c4d4ff;
  }
}
.itemTitle {
  position: relative;
  display: flex;
  border: 1px solid #000;
  width: 100%;
  height: 24px;
  text-align: center;
  vertical-align: center;
  align-items: center;
  .name {
    width: 20%;
    padding: auto;
    background: #99f;
  }
  .genre {
    width: 50%;
    padding: auto;
    background: #fff;
  }
  .grade {
    width: 30%;
    padding: auto;
    background: #99f;
  }
}
